<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Edit_quizzes"></activity>
        <activity android:name=".Entering_MCQs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pass_Student" />
        <activity android:name=".Student_results">

        </activity>
        <activity android:name=".QuizDetails" >

        </activity>
        <activity android:name=".Quizzes" >

        </activity>
        <activity android:name=".EmailVerification" />
        <activity android:name=".SignUp">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>